[user]
	name = melatonia
	email = 110846681+melatonia@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	pager = delta
    editor = nvim
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[interactive]
	diffFilter = delta --color-only
[push]
	autoSetupRemote = true
[commit]
	verbose = true
[alias]
	lg = log --oneline --graph --decorate --all
	st = status -sb
	co = checkout
	br = branch
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1

